<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidsoft.pnrtracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.TicketViewActivity"
            android:label="@string/app_name"></activity>

        <service
            android:name=".ui.SyncService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activities.TicketListActivity"
            android:label="@string/title_activity_ticket_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <receiver
        android:name=".activities.BootReciever” android:permission=”android.permission.RECEIVE_BOOT_COMPLETED"
        android:enabled="true">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
    </receiver>

</manifest>
